<div class="row">
    <div class="twelve columns">

        <!-- Filtro de recetas -->
        <label for="filtro-productos">Busca un producto por su nombre</label>
        <input
                id="filtro-productos"
                type="text"
                placeholder="Pe. Iphone 6s"
                ng-model="$ctrl.filtroProductos.name">

        <!-- Lista de recetas -->
        <table class="u-full-width">
            <tbody>
            <tr rowspan="10" ng-repeat="producto in $ctrl.productos | filter:$ctrl.filtroProductos | orderBy:'name'"  item="producto" ng-link="['ProductoDetalle',{id: producto.id}]">
                <td>
                    <img
                            ng-src="{{ $ctrl.obtenerRutaImagenProducto(producto.photos[0]) }}"
                            width="60"
                            height="60">
                </td>
                <td>
                    {{producto.name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>